# Workshop 2 - Transformations

#### Read the data from the origin: MLA_100k.jsonlines file and see its structure

In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
import json

# Load environment variables
load_dotenv()

resources_path = os.getenv("RESOURCES_PATH")
print(f"RESOURCES_PATH: {resources_path}")

transformed_csv_filename = "transformed.csv"

if not resources_path:
    raise ValueError("RESOURCES_PATH no está definido en el .env")


mla_filename = "MLA_100k.jsonlines"
df_mla = pd.read_json(f"{resources_path}/{mla_filename}", lines=True)

RESOURCES_PATH: /Users/kserver-laptop/Documents/Obsidian Vault/UAO/Maestría en Inteligencia Artificial y Ciencia de Datos/ETL/Week 5/Class 9/Material/Workshop2/workshop-002-transform/src/main/resources

#### View one jsonline object with a json format

In [2]:
# Read only the first line
jsonlines_path = f"{resources_path}/{mla_filename}"
with open(jsonlines_path, 'r', encoding='utf-8') as f:
    first_line = next(f).strip()

# Parse the string as JSON
parsed_data = json.loads(first_line)

# Pretty-print the JSON to the console
print(json.dumps(parsed_data, indent=4, ensure_ascii=False))

{
    "seller_address": {
        "comment": "",
        "longitude": -58.3986709,
        "id": 78162842,
        "country": {
            "name": "Argentina",
            "id": "AR"
        },
        "address_line": "",
        "latitude": -34.6280698,
        "search_location": {
            "neighborhood": {
                "name": "San Cristóbal",
                "id": "TUxBQlNBTjkwNTZa"
            },
            "state": {
                "name": "Capital Federal",
                "id": "TUxBUENBUGw3M2E1"
            },
            "city": {
                "name": "Capital Federal",
                "id": "TUxBQ0NBUGZlZG1sYQ"
            }
        },
        "zip_code": "",
        "city": {
            "name": "San Cristóbal",
            "id": "TUxBQlNBTjkwNTZa"
        },
        "state": {
            "name": "Capital Federal",
            "id": "AR-C"
        }
    },
    "warranty": null,
    "sub_status": [],
    "condition": "new",
    "seller_contact": null,
    "deal_ids": [],
    "base_price": 80,
    "shipping": {
        "local_pick_up": true,
        "methods": [],
        "tags": [],
        "free_shipping": false,
        "mode": "not_specified",
        "dimensions": null
    },
    "non_mercado_pago_payment_methods": [
        {
            "description": "Transferencia bancaria",
            "id": "MLATB",
            "type": "G"
        },
        {
            "description": "Acordar con el comprador",
            "id": "MLAWC",
            "type": "G"
        },
        {
            "description": "Efectivo",
            "id": "MLAMO",
            "type": "G"
        }
    ],
    "seller_id": 74952096,
    "variations": [],
    "location": {},
    "site_id": "MLA",
    "listing_type_id": "bronze",
    "price": 80,
    "attributes": [],
    "buying_mode": "buy_it_now",
    "tags": [
        "dragged_bids_and_visits"
    ],
    "listing_source": "",
    "parent_item_id": "MLA568261029",
    "coverage_areas": [],
    "category_id": "MLA126406",
    "descriptions": [
        {
            "id": "MLA578052519-912855983"
        }
    ],
    "last_updated": "2015-09-05T20:42:58.000Z",
    "international_delivery_mode": "none",
    "pictures": [
        {
            "size": "500x375",
            "secure_url": "https://a248.e.akamai.net/mla-s1-p.mlstatic.com/5386-MLA4352067878_052013-O.jpg",
            "max_size": "1200x900",
            "url": "http://mla-s1-p.mlstatic.com/5386-MLA4352067878_052013-O.jpg",
            "quality": "",
            "id": "5386-MLA4352067878_052013"
        },
        {
            "size": "500x375",
            "secure_url": "https://a248.e.akamai.net/mla-s1-p.mlstatic.com/5361-MLA4352068035_052013-O.jpg",
            "max_size": "1200x900",
            "url": "http://mla-s1-p.mlstatic.com/5361-MLA4352068035_052013-O.jpg",
            "quality": "",
            "id": "5361-MLA4352068035_052013"
        }
    ],
    "id": "MLA578052519",
    "official_store_id": null,
    "differential_pricing": null,
    "accepts_mercadopago": true,
    "original_price": null,
    "currency_id": "ARS",
    "thumbnail": "http://mla-s1-p.mlstatic.com/5386-MLA4352067878_052013-I.jpg",
    "title": "Auriculares Samsung Originales Manos Libres Cable Usb Oferta",
    "automatic_relist": false,
    "date_created": "2015-09-05T20:42:53.000Z",
    "secure_thumbnail": "https://a248.e.akamai.net/mla-s1-p.mlstatic.com/5386-MLA4352067878_052013-I.jpg",
    "stop_time": "2015-11-04T20:42:53.000Z",
    "status": "active",
    "video_id": null,
    "catalog_product_id": null,
    "subtitle": null,
    "initial_quantity": 1,
    "start_time": "2015-09-05T20:42:53.000Z",
    "permalink": "http://articulo.mercadolibre.com.ar/MLA-578052519-auriculares-samsung-originales-manos-libres-cable-usb-oferta-_JM",
    "geolocation": {
        "latitude": -34.6280698,
        "longitude": -58.3986709
    },
    "sold_quantity": 0,
    "available_quantity": 1
}

#### Show columns types

In [3]:
df_mla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   seller_address                    100000 non-null  object
 1   warranty                          39104 non-null   object
 2   sub_status                        100000 non-null  object
 3   condition                         100000 non-null  object
 4   seller_contact                    2219 non-null    object
 5   deal_ids                          100000 non-null  object
 6   base_price                        100000 non-null  float64
 7   shipping                          100000 non-null  object
 8   non_mercado_pago_payment_methods  100000 non-null  object
 9   seller_id                         100000 non-null  int64
 10  variations                        100000 non-null  object
 11  location                          100000 non-null  object
 12  site_id                           100000 non-null  object
 13  listing_type_id                   100000 non-null  object
 14  price                             100000 non-null  float64
 15  attributes                        100000 non-null  object
 16  buying_mode                       100000 non-null  object
 17  tags                              100000 non-null  object
 18  listing_source                    100000 non-null  object
 19  parent_item_id                    76989 non-null   object
 20  coverage_areas                    100000 non-null  object
 21  category_id                       100000 non-null  object
 22  descriptions                      100000 non-null  object
 23  last_updated                      100000 non-null  object
 24  international_delivery_mode       100000 non-null  object
 25  pictures                          100000 non-null  object
 26  id                                100000 non-null  object
 27  official_store_id                 818 non-null     float64
 28  differential_pricing              0 non-null       float64
 29  accepts_mercadopago               100000 non-null  bool
 30  original_price                    143 non-null     float64
 31  currency_id                       100000 non-null  object
 32  thumbnail                         100000 non-null  object
 33  title                             100000 non-null  object
 34  automatic_relist                  100000 non-null  bool
 35  date_created                      100000 non-null  object
 36  secure_thumbnail                  100000 non-null  object
 37  stop_time                         100000 non-null  datetime64[ns, UTC]
 38  status                            100000 non-null  object
 39  video_id                          2985 non-null    object
 40  catalog_product_id                11 non-null      float64
 41  subtitle                          0 non-null       float64
 42  initial_quantity                  100000 non-null  int64
 43  start_time                        100000 non-null  datetime64[ns, UTC]
 44  permalink                         100000 non-null  object
 45  geolocation                       100000 non-null  object
 46  sold_quantity                     100000 non-null  int64
 47  available_quantity                100000 non-null  int64
dtypes: bool(2), datetime64[ns, UTC](2), float64(7), int64(4), object(33)
memory usage: 35.3+ MB

#### Show dimensions

In [4]:
# Column types
print(f"Dataset dimensions: {df_mla.shape}")
df_mla.head()

Dataset dimensions: (100000, 48)

,seller_address,warranty,sub_status,condition,seller_contact,deal_ids,base_price,shipping,non_mercado_pago_payment_methods,seller_id,...,status,video_id,catalog_product_id,subtitle,initial_quantity,start_time,permalink,geolocation,sold_quantity,available_quantity
0,"{'comment': '', 'longitude': -58.3986709, 'id'...",None,[],new,None,[],80.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",74952096,...,active,None,NaN,NaN,1,2015-09-05 20:42:53+00:00,http://articulo.mercadolibre.com.ar/MLA-578052...,"{'latitude': -34.6280698, 'longitude': -58.398...",0,1
1,"{'comment': '', 'longitude': -58.5059173, 'id'...",NUESTRA REPUTACION,[],used,None,[],2650.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",42093335,...,active,None,NaN,NaN,1,2015-09-26 18:08:30+00:00,http://articulo.mercadolibre.com.ar/MLA-581565...,"{'latitude': -34.5935524, 'longitude': -58.505...",0,1
2,"{'comment': '', 'longitude': -58.4143948, 'id'...",None,[],used,None,[],60.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",133384258,...,active,None,NaN,NaN,1,2015-09-09 23:57:07+00:00,http://articulo.mercadolibre.com.ar/MLA-578780...,"{'latitude': -34.6233907, 'longitude': -58.414...",0,1
3,"{'comment': '', 'longitude': -58.4929208, 'id'...",None,[],new,None,[],580.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",143001605,...,active,None,NaN,NaN,1,2015-09-28 18:47:56+00:00,http://articulo.mercadolibre.com.ar/MLA-581877...,"{'latitude': -34.6281894, 'longitude': -58.492...",0,1
4,"{'comment': '', 'longitude': -58.5495042, 'id'...",MI REPUTACION.,[],used,None,[],30.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",96873449,...,active,None,NaN,NaN,1,2015-08-24 22:07:20+00:00,http://articulo.mercadolibre.com.ar/MLA-576112...,"{'latitude': -34.6346547, 'longitude': -58.549...",0,1

#### Columns Describe

In [5]:
df_mla.describe()

,base_price,seller_id,price,official_store_id,differential_pricing,original_price,catalog_product_id,subtitle,initial_quantity,sold_quantity,available_quantity
count,1.000000e+05,1.000000e+05,1.000000e+05,818.000000,0.0,143.000000,1.100000e+01,0.0,100000.000000,100000.000000,100000.000000
mean,5.252423e+04,8.425269e+07,5.252433e+04,206.443765,NaN,1593.341958,3.727643e+06,NaN,35.093370,2.396990,34.842380
std,8.623127e+06,5.497257e+07,8.623127e+06,128.252953,NaN,2245.798072,1.884698e+06,NaN,421.076196,42.685077,420.808403
min,8.400000e-01,1.304000e+03,8.400000e-01,1.000000,NaN,120.000000,9.440400e+04,NaN,1.000000,0.000000,1.000000
25%,9.000000e+01,3.953591e+07,9.000000e+01,84.000000,NaN,449.000000,3.050702e+06,NaN,1.000000,0.000000,1.000000
50%,2.500000e+02,7.631063e+07,2.500000e+02,216.000000,NaN,858.000000,5.093232e+06,NaN,1.000000,0.000000,1.000000
75%,8.000000e+02,1.325659e+08,8.000000e+02,312.750000,NaN,1500.000000,5.103216e+06,NaN,2.000000,0.000000,2.000000
max,2.222222e+09,1.946906e+08,2.222222e+09,446.000000,NaN,13999.000000,5.434513e+06,NaN,9999.000000,8676.000000,9999.000000

#### Remove columns without any data, data with a lot of nulls values or data that I think is not relevant to know if a product is new or used

In [6]:
df_mla.drop([
    'differential_pricing', 
    'subtitle', 
    'catalog_product_id', 
    'original_price', 
    'video_id', 
    'seller_contact', 
    'official_store_id',
    'permalink', 
    'secure_thumbnail', 
    'thumbnail',
    'deal_ids', 
    'coverage_areas', 
    'geolocation',    
    'non_mercado_pago_payment_methods',
    'attributes', 
    'variations', 
    'tags',
    'parent_item_id',
    'sub_status',
    'shipping',
    'seller_id',
    'site_id',
    'listing_type_id',
    'buying_mode',
    'listing_source',
    'category_id',
    'descriptions',
], axis=1, inplace=True)

#### Show the new data frame structure / info

In [7]:
# Column types
print(f"Dataset dimensions: {df_mla.shape}")
df_mla.head()

Dataset dimensions: (100000, 21)

,seller_address,warranty,condition,base_price,location,price,last_updated,international_delivery_mode,pictures,id,...,currency_id,title,automatic_relist,date_created,stop_time,status,initial_quantity,start_time,sold_quantity,available_quantity
0,"{'comment': '', 'longitude': -58.3986709, 'id'...",None,new,80.0,{},80.0,2015-09-05T20:42:58.000Z,none,"[{'size': '500x375', 'secure_url': 'https://a2...",MLA578052519,...,ARS,Auriculares Samsung Originales Manos Libres Ca...,False,2015-09-05T20:42:53.000Z,2015-11-04 20:42:53+00:00,active,1,2015-09-05 20:42:53+00:00,0,1
1,"{'comment': '', 'longitude': -58.5059173, 'id'...",NUESTRA REPUTACION,used,2650.0,{},2650.0,2015-09-26T18:08:34.000Z,none,"[{'size': '499x334', 'secure_url': 'https://a2...",MLA581565358,...,ARS,Cuchillo Daga Acero Carbón Casco Yelmo Solinge...,False,2015-09-26T18:08:30.000Z,2015-11-25 18:08:30+00:00,active,1,2015-09-26 18:08:30+00:00,0,1
2,"{'comment': '', 'longitude': -58.4143948, 'id'...",None,used,60.0,{},60.0,2015-09-09T23:57:10.000Z,none,"[{'size': '375x500', 'secure_url': 'https://a2...",MLA578780872,...,ARS,"Antigua Revista Billiken, N° 1826, Año 1954",False,2015-09-09T23:57:07.000Z,2015-11-08 23:57:07+00:00,active,1,2015-09-09 23:57:07+00:00,0,1
3,"{'comment': '', 'longitude': -58.4929208, 'id'...",None,new,580.0,{},580.0,2015-10-05T16:03:50.306Z,none,"[{'size': '441x423', 'secure_url': 'https://a2...",MLA581877385,...,ARS,Alarma Guardtex Gx412 Seguridad Para El Automo...,False,2015-09-28T18:47:56.000Z,2015-12-04 01:13:16+00:00,active,1,2015-09-28 18:47:56+00:00,0,1
4,"{'comment': '', 'longitude': -58.5495042, 'id'...",MI REPUTACION.,used,30.0,{},30.0,2015-08-28T13:37:41.000Z,none,"[{'size': '375x500', 'secure_url': 'https://a2...",MLA576112692,...,ARS,Serenata - Jennifer Blake,False,2015-08-24T22:07:20.000Z,2015-10-23 22:07:20+00:00,active,1,2015-08-24 22:07:20+00:00,0,1

#### Show columns types

In [8]:
df_mla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   seller_address               100000 non-null  object
 1   warranty                     39104 non-null   object
 2   condition                    100000 non-null  object
 3   base_price                   100000 non-null  float64
 4   location                     100000 non-null  object
 5   price                        100000 non-null  float64
 6   last_updated                 100000 non-null  object
 7   international_delivery_mode  100000 non-null  object
 8   pictures                     100000 non-null  object
 9   id                           100000 non-null  object
 10  accepts_mercadopago          100000 non-null  bool
 11  currency_id                  100000 non-null  object
 12  title                        100000 non-null  object
 13  automatic_relist             100000 non-null  bool
 14  date_created                 100000 non-null  object
 15  stop_time                    100000 non-null  datetime64[ns, UTC]
 16  status                       100000 non-null  object
 17  initial_quantity             100000 non-null  int64
 18  start_time                   100000 non-null  datetime64[ns, UTC]
 19  sold_quantity                100000 non-null  int64
 20  available_quantity           100000 non-null  int64
dtypes: bool(2), datetime64[ns, UTC](2), float64(2), int64(3), object(12)
memory usage: 14.7+ MB

#### Note: we started with a total 48 columns now, after remove unnecesary columns we have 19 columns!

#### Check if the new data frame has empty or null values

In [9]:
# Check if the new data frame has empty or null values
print(f"Empty values: {df_mla.isnull().sum()}")
print()
print()

print(f"Null values: {df_mla.isna().sum()}")

Empty values: seller_address                     0
warranty                       60896
condition                          0
base_price                         0
location                           0
price                              0
last_updated                       0
international_delivery_mode        0
pictures                           0
id                                 0
accepts_mercadopago                0
currency_id                        0
title                              0
automatic_relist                   0
date_created                       0
stop_time                          0
status                             0
initial_quantity                   0
start_time                         0
sold_quantity                      0
available_quantity                 0
dtype: int64


Null values: seller_address                     0
warranty                       60896
condition                          0
base_price                         0
location                           0
price                              0
last_updated                       0
international_delivery_mode        0
pictures                           0
id                                 0
accepts_mercadopago                0
currency_id                        0
title                              0
automatic_relist                   0
date_created                       0
stop_time                          0
status                             0
initial_quantity                   0
start_time                         0
sold_quantity                      0
available_quantity                 0
dtype: int64

#### Make tranformations to Warranty field

In [10]:
# Show warranty values and then transform them, fill NaN values with "No Warranty"
print(df_mla['warranty'].value_counts())
print("#" * 100)
print()

df_mla['warranty'] = df_mla['warranty'].fillna("No Warranty")

print()
print(df_mla['warranty'].value_counts())
print("#" * 100)

warranty
Sí                                                                       5682
Sin garantía                                                             5442
SI                                                                        592
6 meses                                                                   547
6 MESES                                                                   397
                                                                         ...
Garantía de un año a partir de la fecha de entrega!                         1
Garantía 1 año. La misma no incluye daños por mal uso o accidentales.       1
SE PRUEBAN LOS JUEGOS AL RETIRAR                                            1
Mi garantía son los comentarios de mis compradores.                         1
Pueden variar matasellos                                                    1
Name: count, Length: 10264, dtype: int64
####################################################################################################


warranty
No Warranty                                              60896
Sí                                                        5682
Sin garantía                                              5442
SI                                                         592
6 meses                                                    547
                                                         ...
TODAS LAS PILETAS TIENEN GARANTIA POR 5 (CINCO) AÑOS.        1
Garantia 6 Meses por lusqtoff                                1
Garantia Tramontina.                                         1
Nuestras calificaciones positivas                            1
Pueden variar matasellos                                     1
Name: count, Length: 10265, dtype: int64
####################################################################################################

#### Remove another columns I think we can rid off

In [11]:
df_mla.drop([
    'last_updated',
    'title',
    'base_price',
    'international_delivery_mode',
    'currency_id',
    'stop_time',
    'start_time',
    'initial_quantity',
    'sold_quantity',
    'available_quantity',
    'pictures'
], axis=1, inplace=True)

#### Create new transformed file structure

In [12]:
# 1) Convert date_created to datetime just once
df_mla['date_created'] = pd.to_datetime(df_mla['date_created'], errors='coerce')

# 2) Extract components using datetime accessors (vectorized)
df_mla['date_year_created'] = df_mla['date_created'].dt.year
df_mla['date_month_created'] = df_mla['date_created'].dt.month
df_mla['date_day_created'] = df_mla['date_created'].dt.day
df_mla['date_hour_created'] = df_mla['date_created'].dt.hour
df_mla['date_minute_created'] = df_mla['date_created'].dt.minute
df_mla['date_second_created'] = df_mla['date_created'].dt.second

# 3) Extract seller_address dictionary fields once 
def extract_seller_address(address):
    if isinstance(address, dict):
        return pd.Series({
            'seller_address_longitude': address.get('longitude', None),
            'seller_address_latitude': address.get('latitude', None)
        })
    return pd.Series({'seller_address_longitude': None, 'seller_address_latitude': None})

df_seller = df_mla['seller_address'].apply(extract_seller_address)

# 4) Concatenate those new columns
df_mla = pd.concat([df_mla, df_seller], axis=1)

# 5) Build the final df_transformed:
df_transformed = df_mla[[
    'id',
    'condition',
    'warranty',
    'price',
    'accepts_mercadopago',
    'automatic_relist',
    'status',
    'seller_address_longitude',
    'seller_address_latitude',
    'date_year_created',
    'date_month_created',
    'date_day_created',
    'date_hour_created',
    'date_minute_created',
    'date_second_created'
]].copy()

# 6) Save as CSV
df_transformed.to_csv(
    f"{resources_path}/{transformed_csv_filename}",
    index=False,
    encoding="utf-8"
)

print(f"Transformed CSV file saved at: {transformed_csv_filename}")

Transformed CSV file saved at: transformed.csv

#### Finally, show the final transformed.csv file

In [13]:
df_transformed.info()
df_transformed.head()
df_transformed.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        100000 non-null  object
 1   condition                 100000 non-null  object
 2   warranty                  100000 non-null  object
 3   price                     100000 non-null  float64
 4   accepts_mercadopago       100000 non-null  bool
 5   automatic_relist          100000 non-null  bool
 6   status                    100000 non-null  object
 7   seller_address_longitude  100000 non-null  object
 8   seller_address_latitude   100000 non-null  object
 9   date_year_created         100000 non-null  int32
 10  date_month_created        100000 non-null  int32
 11  date_day_created          100000 non-null  int32
 12  date_hour_created         100000 non-null  int32
 13  date_minute_created       100000 non-null  int32
 14  date_second_created       100000 non-null  int32
dtypes: bool(2), float64(1), int32(6), object(6)
memory usage: 7.8+ MB

,price,date_year_created,date_month_created,date_day_created,date_hour_created,date_minute_created,date_second_created
count,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,5.252433e+04,2014.998610,9.030420,15.469630,13.907340,29.622730,29.602850
std,8.623127e+06,0.039599,0.767776,8.804068,6.862002,17.254615,17.202568
min,8.400000e-01,2013.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,9.000000e+01,2015.000000,9.000000,8.000000,11.000000,15.000000,15.000000
50%,2.500000e+02,2015.000000,9.000000,15.000000,15.000000,30.000000,30.000000
75%,8.000000e+02,2015.000000,10.000000,23.000000,19.000000,45.000000,44.000000
max,2.222222e+09,2015.000000,12.000000,31.000000,23.000000,59.000000,59.000000